:root {
    --bg-main: #181818;
    --bg-container: #232323;
    --text-main: #fff;
    --accent: #1DB954;
    --songitem-bg: #282828;
    --container-bg-img: url('bg.png');
    --navbar-bg: #333;
    --navbar-text: #b3b3b3;
    --nav-main: white;
}

body.light-mode {
    --bg-main: #ffffff;
    --bg-container: #ededed;
    --text-main: #000000;
    --accent: #FF2D55;
    --songitem-bg: #f2f2f2;
    --navbar-bg: #f9f9f9;
    --navbar-text: #FF2D55;
    --nav-main: #000000;
    --container-bg-img: url('bg\ 2.png');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-main);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 65px;
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
}

.brand img {
    width: 44px;
    padding: 0 10px;
}

nav ul li {
    margin: 0 20px;
    ;
    font-weight: 600;
}

nav ul li:hover {
    scale: 1.04;
    color: var(--nav-main);
    transition: all 0.05s ease-in-out;
    cursor: pointer;
}

nav ul li:active {
    transform: scale(0.9);
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
   color: var(--nav-main);
}

.logo {
    margin-right: 10px;
    color: var(--accent);
}

.brand:hover {
    color: var(--nav-main);
    font-size: 1.3rem;
    transition: none;
    scale: none;
}

h1 {
    font-weight: 600;
    color: white;
}

.container {
    min-height: 68vh;
    background-color: var(--bg-container);
    color: var(--text-main);
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 10px;
    padding: 20px;
    background-image: var(--container-bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;  
}

.bottom {
    position: sticky;
    height: 90px;
    background-color: var(--bg-container);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main);
    flex-direction: column;
}

.icons {
    margin-top: 10px;
}

.icons i {
    cursor: pointer;
    color: var(--accent);
}

#myProgressBar {
    width: 80vw;
    text-align: center;
    cursor: pointer;
    accent-color: var(--accent);
}

.songItemContainer {
    margin-top: 14px;
}

.songItem {
    height: 32px;
    display: flex;
    background-color: var(--songitem-bg);
    width: 75.8%;
    color: var(--text-main);
    margin: 14.9px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 30px;
    margin: 0 10px;
    border-radius: 32px;
}

.timeStamps {
    margin: 0 10px;
}

.timeStamps i {
    cursor: pointer;
    color: var(--accent);
}

.songInfo {
    position: absolute;
    left: 10vw;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.volume {
    position: absolute;
    right: 10vw;
    background: transparent;
    border: none;
    color: var(--accent);
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.6rem;
}


.songName:hover {
    text-decoration: underline;
    cursor: pointer;
}

#previous:active,
#next:active {
    transform: scale(0.9);
}


#themeToggle {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        min-height: 50vh;
        padding: 10px;
        font-size: 0.6rem;
        background-size: cover;
    }

    nav ul {
        flex-direction: column;
        height: auto;
        padding: 8px 0;
    }

    nav ul li {
        margin: 8px 0;
        font-size: 1rem;
    }

    .brand {
        font-size: 1.2rem;
    }

    .brand:hover {
        color: var(--nav-main);
        font-size: 1.2rem;
        transition: none;
        scale: none;
    }

    .songItem {
        width: 95%;
        font-size: 0.70rem;
        margin: 10px 0;
    }

    #myProgressBar {
        width: 95vw;
    }

    .songInfo {
        position: static;
        left: 0;
        margin-top: 10px;
        text-align: center;
    }

    .bottom {
        height: auto;
        padding: 10px 0;
    }
}